body{
  background-color: hsl(30, 54%, 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
section{
  background-color: hsl(0, 0%, 100%);
  padding: 2rem;
  border-radius: 1rem;
}