body{
  background-color: hsl(30, 54%, 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
section{
  background-color: hsl(0, 0%, 100%);
  padding: 2rem;
  border-radius: 1rem;
}
img{
  border-radius: 1rem;
}
.Preparation{
  background-color: hsl(330, 100%, 98%);
  padding: 0.5rem;
  border-radius: 0.5rem;
}
div>ul>li::marker{
  color: hsl(332, 51%, 32%);
}
.Ingredients>ul>li::marker, .Instructions>ol>li::marker{
  color: hsl(14, 45%, 36%);
}